{% extends 'admin/headerfooter.html' %}
{% block content %}
<!--sidebar end-->
<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     user table
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>
            <th data-breakpoints="xs">ID</th>
            <th> Name</th>
            <th>Image</th>
           
            <!--<th data-breakpoints="xs sm md" data-title="DOB">Date of Birth</th>-->
          </tr>
        </thead>
        <tbody>
          {% for i in data1 %}
          <tr data-expanded="true">
            <td>{{forloop.counter}}</td>
            <td>{{i.productname}}</td>
            <td><img src="{{i.image.url}}" style="width: 200px;height: 200px;"></td>
            <td>{{i.newprice}}</td>
            <td>{{i.oldprice}}</td>
            <td>{{i.description}}</td>
            <td>{{i.catagory}}</td>
            <td><a href="/prod_update/?uuid={{i.id}}"><i class="fa fa-edit">edit</i></a></td>
            <td><a href="/prod_delete/?uuid={{i.id}}"><i class="fa fa-trash">delete</i></a></td>
          </tr>
           {% endfor %}
       
        </tbody>
      </table>
    </div>
  </div>
</div>
</section>

</section>

<!--main content end-->
</section>
{% endblock %}
